<object {{ with .Get "width"}} width="{{.}}"{{ end }} {{ with .Get "height"}} height="{{.}}"{{ end }} type="application/pdf" {{ with .Get "path"}} data="{{.}}#pagemode=none"{{ end }} >
    <p>{{ .Get "fallback" }}</p>
</object>